a{
    text-decoration: none !important;
    color: inherit;
}

a:hover {
    color: #6c757d;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    max-width: 100%;

}
section{
    padding: 50px 0 !important;
}
.btn {
    border: none;
    color: #6c757d;
}

.btn-bg {
    color: #fff;
    background: linear-gradient(to left, #e0e323, #49b5b9);
}

.btn-bg:hover {
    color: #fff;
    background: linear-gradient(to right, #e0e323, #49b5b9);
}

.text-clipped {
    padding: 1px;
    background: linear-gradient(to bottom, #e0e323, #49b5b9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-heading h1 {
    font-size: 20px;
    font-weight: normal;
    margin: 0;
}

.custom-nav-container{
    position: relative;
    z-index: 1;
}
.custom-nav-container i{
    font-size: 20px;
    cursor: pointer;
}

.main-nav-outer{
    width: 250px;
    height: 100vh;
    background-color: #fff;
    position: fixed;
    top: 0;
    right: -250px;
    border-left: 5px solid #eee;
    z-index: 1500;
    transition: 650ms all;
}

.main-nav-outer.open-menu {
    right: 0;
}

.menu-close-icon{
    position: absolute;
    top: 5px;
    left: 10px;
}


.main-nav .nav-link {
    font-size: 14px;
    text-transform: uppercase;
}

.nav-icons-container {
    width: 100%;
    max-width: 125px;
}

.nav-icons-container i:hover {
    opacity: .7;
}

.navbar-brand i {
    font-size: 40px;
}

.navbar-brand i span {
    font-size: 20px;
    font-weight: 100;
}

.nav-icons > a {
    position: relative;
}

.nav-icons > a > .badge {
    position: absolute;
    top: -10px;
    right: -12px;
    background-color: #9149b9;
    color: #fff;
    border-radius: 100%;
}

.nav-icons .dropdown-menu{
    margin-top: 40px;
    margin-left: -260px !important;
    position: relative;
    background-color: #fff;
}

.nav-icons .dropdown-menu::before{
    content: "";
    position: absolute;
    top: -10px;
    right: 9px;
    width: 20px;
    height: 20px;
    background-color: inherit;
    border: inherit;
    transform: rotate(45deg);
    border-bottom-color: transparent;
    border-right-color: transparent;
}

.dropdown-toggle::after {
    display: none !important;
}

.dropdown-item{
    color: #333;
}

.promotions {
    background-color: #333;
    font-size: 14px;
}

/* .carousel-inner .carousel-item img{

} */

.carousel {
    z-index: 0;
}

.carousel-control-next,
.carousel-control-prev{
    position: absolute !important;
    top: 50% !important;
    width: 30px !important;
    height: 30px; 
    background-color: #fff;
    opacity: 1 !important;
}

.carousel-control-prev {
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
}

.carousel-control-next {
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;
}

/* brands start*/
.brands img {
    max-width: 100px;
    max-height: 100px;
    opacity: .7;
    transition: opacity 650ms;
}

.brands img:hover {
    opacity: 1;
}
/* brands end*/

/* womens collection start */
    .hero-img{
        padding: 15px;
        margin: auto;
    }


/* womens collection end */

/* arrivals start */

.arrivals {
    background-color: #f5f5f5;
}

.new-arrival-img {
    max-width: 300px;
    margin: auto;
}

/* arrivals end */

/* service start */

.our-services-icon {
    width: 100px;
    height: 100px;
    background-color: #fff;
    position: relative;
    background-clip: padding-box;
    border: 2px solid transparent;
    border-radius: 100%;
}

.our-services-icon::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -2px;
    border-radius: inherit;
    background: linear-gradient(to bottom, #e0e323, #49b5b9);

}

.our-services-icon i {
    font-size: 40px;

}

.our-services-icon h5 {
    font-size: 16px;

}

.our-services-icon h5 {
    font-size: 14px;

}

/* service end */

/* footer */
footer{
    color: #fff;
    background-color: #151515;

}

.footer-title{
    position: relative;
}

.footer-title h5{
    text-transform: uppercase;
    color: rgba(255, 255, 255, .75);
}

/* .custom-border{
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, .1);
} */

.custom-border::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50%;
    height: 2px;
    background: linear-gradient(to left, #e0e323, #49b5b9);
}

.footer-list li{
    /* border-bottom: 1px solid rgba(255, 255, 255, .1); */
    margin: 15px 0;
}
.footer-list li:last-child{
    border: none;
}

.footer-link{
    color: #fff !important;
    transition: opacity 650ms;
}
.footer-link:hover{
    opacity: .6;
}

.line{
    width: 100%;
    border-top-color: rgba(255, 255, 255, .8) !important;
}






/* footer */

/* cart */
    .heading-has-bg{
        background: linear-gradient(to left, rgba(45, 64, 146, 0.7), rgba(73, 155, 87, 0.7)), url("../img/cart-bg.jpg") center no-repeat;
        height: 40vh;
    }

    .heading-has-bg h1{
        font-size: 50px;
        color: #fff;
        text-shadow: 0 0 6.25rem 1.5rem rgba(0, 0, 0, 0.1);
    }

    .cart-item-img {
        max-width: 350px;
    }

    .remove-cart-item{
        /* position: absolute; */
        position: relative;
        /* top: initial;
        right: 75px; */
        top: -18px;
        left: 0;
        

        width: 20px;
        height: 22px;
        border-radius: 100%;
        cursor: pointer;
        box-shadow: 0 0 10px rgba(220, 53, 69, 0.5);
    }


/* cart end */








/* media queries on large screen */
@media(min-width: 992px) {
    .main-nav-outer{
        width: initial;
        height: initial;
        background-color: initial;
        position: initial;
        border: none;
    }
    .nav-icons .dropdown-menu {
        margin-left: -212px;
    }
}






